@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto+Condensed:wght@400;700&display=swap');


.outerContainer {
    background-image: linear-gradient(to bottom, #9ccaeb, #8bb5d8, #7aa0c4, #6a8cb1, #5b789e, #516b92, #485e85, #3f5279, #384a70, #314167, #2b395f, #243156);
}

.innerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 1000px;
    height: 500px;
    background-color: rgba(245, 235, 235, 0.317);
    border-radius: 10px;
}

.content h2 {
    color: #476072;
    margin-bottom: 2rem;
}

.content h2:hover {
    color: #13334C;
}

.form {
    margin-left: 3rem;
}

.formGroup {
    margin-bottom: 1rem;
}

.formGroup label {
    display: flex;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.input {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 10px;
    width: 350px;
    border: none;
}

.blockquote {
    text-align: center;
    margin-top: 1rem;
    margin-left: 3rem;
    border-left: 2px solid rgba(255, 255, 255, 0.265);
    font-size: 1.8rem;
    letter-spacing: 3px;
    color: #000;
    font-family: 'Merriweather', serif;
    line-height: 1.5;
}

.loginButton {
    background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
    margin-top: 2rem;
    padding: 0.8rem 1.5rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    cursor: pointer;
    width: 350px;
    border: none;
    font-size: 1rem;
}

.loginButton:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
}

.content p {
    text-align: center;
    font-size: 1rem;
    margin-top: 0.5rem;
}

.hyperlink {
    text-decoration: none;
}

.hyperlink:hover {
    color: #13334C;;
}
